/* Fonts */
@font-face {
  font-family: 'AquaGrotesque';
  src: url('../fonts/AquaGrotesque.eot');
  src: url('../fonts/AquaGrotesque.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AquaGrotesque.woff') format('woff'),
  url('../fonts/AquaGrotesque.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.wrapper {
  background-color: #555;
}

.wrapper img {
  height: auto;
  width: 5rem;
}


/* Bootstrap 4 @media */

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1440px) and (max-width: 1919.98px) {
  html {
    font-size: 9px;
  }
}
@media (min-width: 1200px) and (max-width: 1439.98px){
  html {
    font-size: 8px;
  }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
  html {
    font-size: 7px;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
  html {
    font-size: 6px;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
  html {
    font-size: 5px;
  }
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  html {
    font-size: 4px;
  }
}