/* Fonts */
@font-face {
  font-family: 'AquaGrotesque';
  src: url('../fonts/AquaGrotesque.eot');
  src: url('../fonts/AquaGrotesque.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AquaGrotesque.woff') format('woff'),
  url('../fonts/AquaGrotesque.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova-Regular.woff') format('woff'),
  url('../fonts/ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'ProximaNova-RegularIt';
  src: url('../fonts/ProximaNova-RegularIt.eot');
  src: url('../fonts/ProximaNova-RegularIt.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova-RegularIt.woff') format('woff'),
  url('../fonts/ProximaNova-RegularIt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'ProximaNova-Light';
  src: url('../fonts/ProximaNova-Light.eot');
  src: url('../fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova-Light.woff') format('woff'),
  url('../fonts/ProximaNova-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova-Bold.woff') format('woff'),
  url('../fonts/ProximaNova-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  font-size: 10px;
}

body {
  color: #fff;
  font-family: 'ProximaNova-Regular', sans-serif;
  font-weight: 400;
}

h1 {
  font-family: 'AquaGrotesque';
  font-size: 4.8rem;
}

h2 {
  border-bottom: .3rem solid #ae1d98;
  color : #75FFF4;
  display: inline-block;
  font-family: 'ProximaNova-Bold';
  font-size : 3.6rem;
  font-weight: bold;
  line-height : 4.5rem;  
  margin-bottom: 2rem;
}

h3 {
  font-size: 2.8rem;
  line-height: 3.9rem;
}

p {
  margin: 0;
  padding: 0;
}

.break {
  display: none;
}

/* header styles */
.header {
  display: flex;
  flex-direction: column;
}

.header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header__intro {
  background-image: linear-gradient(180deg, #1b1464 0%, #12163d 100%);
}

.header__intro .container {
  padding: 5rem 0;
}

.header__info {
  padding-right: 1rem;
  width: 52rem;
}

.header__info h1 {
  display: inline-block;
  text-transform: uppercase;
  text-align: left;
  position: relative;
}

.header__info h1::before {
  content: "";
  background-color: #75FFF4;
  position: absolute;
  bottom: 0;
  right: 0;
  height: .5rem;
  width: 50%;
}

.header__info p {
  font-family: 'ProximaNova-Light';
  font-size: 2.2rem;
  opacity: .83;
  text-align: right;
}

.header__info strong {
  display: block;
  font-family: 'ProximaNova-Bold';
  font-size: 2.5rem;
  font-weight: bold;
}

.header__logo {
  height: 13.5rem;
}

.header__logo img {
  height: 100%;
}

.navbar {
  background-image: linear-gradient(to bottom, #12265b 0%, #16256f 100%);
  padding: .5rem 0;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.nav-link {
  color: #fff !important;
  font-size: 2rem;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #75FFF4 !important;
}

/* main styles */
.main {
  background-color: #12387c;
  padding-top: 6rem;
}

/* highlights styles */
.highlights__elements {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 1.5rem;
}

.highlights__element {
  background-image: linear-gradient(180deg, #1b1464 0%, #12163d 100%);
  border-left: .3rem solid #ae1d98;
  margin-left: .5rem;
  padding: 1.5rem 0;
  text-align: center;
  width: calc(100% / 5 - .5rem);
}

.highlights__element span {
  font-family: 'ProximaNova-RegularIt';
  font-size: 2.4rem;
}

.highlights__element span strong {
  font-weight: bold;
}

.highlights__paragraph {
  font-size: 2rem;
  line-height: 3.5rem;
  margin: 2rem 0 5rem .5rem;
  padding: 0 1.5rem;
}

/* experience styles */
.experience {
  margin-bottom: 5rem;
}

.experience__logo {
  background-image: linear-gradient(180deg, #1b1464 0%, #12163d 100%);
  border-radius: 5rem;
  margin: 0 1rem 2rem;
  text-align: center;
  height: 9rem;
  max-height: 9rem;
}

.experience__element:nth-child(1) .experience__logo {
  padding: 1.5rem 0;
}

.experience__element:nth-child(2) .experience__logo {
  padding: 2.5rem 0;
}

.experience__element:nth-child(3) .experience__logo {
  padding: 1.5rem 0;
}

.experience__element:nth-child(4) .experience__logo {
  padding: 2.9rem 0;
}

.experience__logo::before {
  content: "";
  background-color: #ae1d98;
  position: absolute;
  top: 0;
  right: -1px;
  height: 9rem;
  width: 2px;
}

.experience__elements {
  padding: 0 1rem;
}

.experience__element:last-child .experience__logo::before {
  content: "";
  height: 0;
  width: 0;
}

.experience__logo img {
  /*height: 100%;*/
  max-height: 100%;
  width: 100%;
}

.experience__description {
  display: flex;
  flex-direction: row;
}

.experience__description p {
  font-family: 'ProximaNova-Light';
  font-size: 2rem;
  line-height: 1.2;
  padding-left: 5rem;
  position: relative;
}

.experience__description span {
  font-family: 'ProximaNova-Light';
  font-size: 1.8rem;
  opacity: .48;
  position: absolute;
  left: 1.5rem;
  transform: rotate(-90deg) translateX(-110%);
  transform-origin: left top 0;
  white-space: nowrap;
}

.experience__description strong {
  display: block;
  font-family: 'ProximaNova-Bold';
  font-size: 2rem;
}

/* skills styles */
.skills__elements {
  margin-bottom: 5rem;
}

.skills__element {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.skills__logo {
  margin: 2rem 0;
  height: 10rem;
}

.skills__logo img {
  height: 100%;
}

.skills__description {
  background-image: linear-gradient(180deg, #1b1464 0%, #12163d 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  margin: 0 2rem 0;
  padding: 1rem 2rem;
  position: relative;
}

.skills__description::before {
  content: "";
  background-color: #ae1d98;
  position: absolute;
  bottom: 0;
  left: 0;
  height: .3rem;
  width: 25%;
}

.skills__description h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.skills__description p {
  font-size: 2.2rem;
  opacity: .8;
  text-align: left;
}

/* portfolio styles */
.portfolio__gallery-item {
  cursor: pointer;
  margin-bottom: 20px;
  text-align: center;
  width: calc((100% / 3) - 14px);
}

.portfolio__gallery-item img {
  width: 100%;
}

/* modal styles */
.modal-content {
  background-color: transparent;
  border: none;
  height: 100%;
}

.modal-header {
  background-color: transparent;
  align-items: center;
  position: absolute;
  top: -2rem;
  right: -2rem;
  z-index: 999;
}

.modal-header {
  border-bottom: none;
}

.modal-title {
  display: none;
}

.modal-header .close {
  margin: 0;
  padding: 0;
}

button.close {
  background-color: #fff;
  border-radius: 50%;
  opacity: 1;
  height: 4rem;
  width: 4rem;
}

button.close:hover,
button.close:focus,
.close:not(:disabled):not(.disabled):focus,
.close:not(:disabled):not(.disabled):hover {
  background-color: #fff;
  opacity: 1;
  outline: none;
}

.close:hover {
  color: #555;
}

.close span {
  font-size: 4rem;
  line-height: 1;
  height: 100%;
  width: 100%;
}

.modal-body {
  overflow: auto;
  padding: 0;
  height: 100%;
}

.modal-dialog {
  height: 90%;
  max-width: 70vw !important;
}





















/* Bootstrap 4 @media */
/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1440px) and (max-width: 1919.98px) {
  html {
    font-size: 9px;
  }

  .break {
    display: block;
  }
}
@media (min-width: 1440px){
  .container {
    max-width: 1300px;
  }
}
@media (min-width: 1200px) and (max-width: 1439.98px){
  html {
    font-size: 8px;
  }

  .break {
    display: block;
  }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
  html {
    font-size: 7px;
  }

  /* experience styles */
  .experience__element {
    margin-bottom: 4rem;
  }

  .experience__element:nth-child(2) .experience__logo::before {
    content: "";
    height: 0;
    width: 0;
  }

  .experience__description {
    justify-content: center;
  }

  /* portfolio styles */
  .portfolio__gallery-item {
    width: calc((100% / 2) - 10px);
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
  html {
    font-size: 6px;
  }

  /* highlights styles*/
  .highlights__elements {
    flex-wrap: wrap;
    justify-content: center;
  }

  .highlights__element {
    margin-bottom: 1rem;
    width: calc(100% / 3 - .5rem);
  }

  /* experience styles */
  .experience__element {
    margin-bottom: 4rem;
  }

  .experience__element:nth-child(2) .experience__logo::before {
    content: "";
    height: 0;
    width: 0;
  }

  .experience__description {
    justify-content: center;
  }

  /* portfolio styles */
  .portfolio__gallery-item {
    width: calc((100% / 2) - 10px);
  }

  /* modal window styles */
  .modal-dialog {
    max-width: 80vw !important;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
  html {
    font-size: 5px;
  }

  /* highlights styles*/
  .highlights__elements {
    flex-wrap: wrap;
    justify-content: center;
  }

  .highlights__element {
    margin-bottom: 1rem;
    width: calc(100% / 2 - .5rem);
  }

  /* experience styles */
  .experience__element {
    margin-bottom: 4rem;
  }

  .experience__element:nth-child(2) .experience__logo::before {
    content: "";
    height: 0;
    width: 0;
  }

  .experience__description {
    justify-content: center;
  }

  /* portfolio styles */
  .portfolio__gallery-item {
    width: 100%;
  }
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  html {
    font-size: 5px;
  }

  /* header styles */
  .header__intro {
    order: 2;
  }

  .navbar {
    background-image: linear-gradient(360deg, #1b1464 0%, #12163d 100%);
    order: 1;
    height: 10rem;
    width: 100%;
  }

  .navbar .container {
    justify-content: flex-end;
  }

  .navbar-toggler {
    margin: 2rem;
  }

  .navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(117, 255, 244, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    height: 3em;
    width: 3em;
  }

  .navbar-dark .navbar-toggler {
    border-color: rgba(117, 255, 244, 1);
  }  

  .navbar-nav {
    flex-direction: column;
  }

  .navbar-collapse {
    background-image: linear-gradient(180deg, #1b1464 0%, #12163d 100%);
    position: absolute;
    top: 10rem;
    width: 100%;
    z-index: 999;
  }

  .nav-item {
    margin: 1rem 0;
  }

  .nav-link {
    font-size: 4rem;
  }

  /* highlights styles*/
  .highlights__elements {
    flex-wrap: wrap;
    justify-content: center;
  }

  .highlights__element {
    margin-bottom: 1rem;
    width: calc(100% / 2 - .5rem);
  }

  /* experience styles */
  .experience__element {
    margin-bottom: 4rem;
  }

  .experience__element:nth-child(2) .experience__logo::before {
    content: "";
    height: 0;
    width: 0;
  }

  .experience__description {
    justify-content: center;
  }

  /* portfolio styles */
  .portfolio__gallery-item {
    width: 100%;
  }
}

@media (max-width: 375px) {
  html {
    font-size: 4px;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 3.7rem;
  }

  .container {
    padding: 0 2rem;
  }

  /* highlights styles*/
  .highlights__elements {
    flex-wrap: wrap;
    justify-content: center;
  }

  .highlights__element {
    margin-bottom: 1rem;
    width: 100%;
  }

  .highlights__element span {
    font-size: 3.5rem;
  }

  .highlights__paragraph {
    font-size: 3.5rem;
    line-height: 4.5rem;
  }

  /* experience styles */
  .experience__element {
    margin-bottom: 4rem;
  }

  .experience__element.col-6 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .experience__logo {
    height: 11rem;
    max-height: 11rem;
  }

  .experience__logo::before {
    content: "";
    height: 0;
    width: 0;
  }

  .experience__description {
    justify-content: flex-start;
    margin: 0 auto;
    width: 70%;
  }

  .experience__description p {
    font-size: 3.5rem;
  }

  .experience__description span {
    font-size: 3rem;
    left: .5rem;
    transform: rotate(-90deg) translateX(-105%);
  }

  .experience__description p strong {
    font-size: 3.5rem;
  }

  /* skills styles */
  .skills__element {
    margin-bottom: 2rem;
  }

  .skills__logo {
    height: 13rem;
  }

  .skills__description {
    margin: 0 1rem;
    padding: .5rem 1rem;
  }

  .skills__description p {
    font-size: 3.1rem;
  }

  /* portfolio styles */
  .portfolio__gallery-item {
    width: 100%;
  }
}