html {
  font-size: 16px;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
}

/* hello styles */
.hello {
	width: 22rem;
}

.hello-bg-top {
	background: url(../img/images_03.jpg) top center / auto 100% repeat-x;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	height: .8rem;
}

.hello-bg-top img {
	height: 100%;
}

.hello-bg-middle {
	background: 
		url(../img/images_07.jpg) left center / .94rem repeat-y,
		url(../img/images_09.jpg) right center / .94rem repeat-y;
	padding: 0 .9rem;
}

.hello__title {
	color: #a15d1c;
	font-size: 1rem;
	font-weight: bold;
	font-style: italic;
	margin: 0;
	text-align: center;
}

.hello__title span {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.hello__title img {
	height: 1.25rem;
}

.hello__promo h3 {
	color: #113d06;
	font-size: .9rem;
	font-weight: bold;
	font-style: italic;
	line-height: 1.2rem;
	margin: 1.2rem 0;
	text-align: center;
}

.hello__promo-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	margin-bottom: .6rem;
}

.hello__promo-content img {
	-ms-flex-negative: 0;
	    flex-shrink: 0;
	margin-right: .7rem;
	height: 6.5rem;
	width: 7.7rem;
}

.hello__promo-content p {
	font-size: .8rem;
	font-weight: bold;
	line-height: 1rem;
	margin: 0;
}

.hello__promo-link {
	text-align: center;
}

.hello__promo-link a {
	background: url(../img/btn-tiny.png) center / 100% 100% no-repeat;
	color: #ac5f17;
	display: inline-block;
	font-size: 1rem;
	font-weight: bold;
	margin-bottom: .6rem;
	padding: .7rem 2.1rem;
	text-decoration: none;
}

.hello-bg-bottom {
	background: url(../img/images_13.jpg) bottom center / auto 100% repeat-x;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	height: 1.1rem;
}

.hello-bg-bottom img {
	height: 100%;
}

.hello-line {
	background: url(../img/arrow.png) center / 95% no-repeat;
	height: 1.2rem;
	width: 100%;
}

.hello__china {
	text-align: center;
}

.hello__china h2 {
	color: #ac5f17;
	font-size: 1.3rem;
	font-weight: bold;
	font-style: italic;
	margin: .6rem 0;
	text-align: center;
}

.hello__china h2 sub {
	color: #4425a5;
	font-size: .6rem;
}

.hello__china img {
	height: 1.2rem;
	width: 90%;
}

.hello__china-links {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
}

.hello__china-links a {
	background: url(../img/btn-tiny.png) center / 100% 100% no-repeat;
	color: #4425a5;
	display: inline-block;
	font-size: .8rem;
	font-weight: bold;
	padding: .5rem .6rem;
	text-decoration: none;
}

.hello__china-links a sup {
	font-size: .6rem;
}

.hello__china h3 {
	font-size: .9rem;
	font-weight: bold;
	margin: .6rem 0;
	text-align: center;
}

.hello__serving {
	text-align: center;
}

.hello__serving h3 {
	font-size: .8rem;
	font-weight: bold;
}

.hello__serving img {
	width: 11.8rem;
	max-width: 11.8rem;
}